.intro {
  font-family: "Inter", Arial, sans-serif;
  max-width: 1280px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: minmax(auto, 720px) minmax(auto, 560px);
}
