.opinion__author{
  margin-bottom: 24px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
}

@media screen and (max-width: 984px){
  .opinion__author{
    margin-bottom: 12px;
  }
}
