.place{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 560px;
  box-sizing: border-box;
}

@media screen and (max-width: 968px){
  .place{
    grid-auto-rows: 440px;
  }
}

@media screen and (max-width: 782px){
  .place{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
